<ion-header>

  <ion-navbar>
    <ion-title>profile</ion-title>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <form #f="ngForm" (ngSubmit)="(f)" >
    <div class="circle-pic">
        <ion-avatar item-start>
            <div class="image">
                <img src="{{imagePath}}">
            </div>
          </ion-avatar>
    </div>
    <ion-item>
      <ion-row>
        <ion-col>
          <button ion-button block outline color="danger"  type="button" icon-start  (click)="Usecamera()">
            <ion-icon name='camera'></ion-icon>
            Use Camera
          </button>
        </ion-col>
        <ion-col>
            <button ion-button block outline color="danger" type="button" icon-start (click)="UploadImage()">
              <ion-icon name='image'></ion-icon>
              Upload Image
            </button>
        </ion-col>
      </ion-row>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Age</ion-label>
      <ion-input ngModel type="age" name="age" ></ion-input>
    </ion-item>
    
    <ion-item>
      <button ion-button 
          block 
          outline
          type="button"
          icon-left
          (click)="onOpenMap()">
          <ion-icon name="map"></ion-icon>
          Select On Map	
          </button>
    </ion-item>
  <button ion-button type="submit" block>Save Profile</button>
    </form>
<br>

<ion-content padding>
    The world is your oyster.
     <ion-input type="text" value="nnnn"></ion-input>
    <div  *ngIf="users">
    <p *ngFor="let user of users">
      {{user.username}} :sign in
    </p></div>
    <p *ngIf="user"> 
      {{user.username}}: has sign up
    </p>
   
   
   <hr>
   
