page-home {
<<<<<<< HEAD

=======
    textarea{
        display: block;
        height: 90px;
        width:  107%;
        margin-left: -10px;
        border: 1px solid red;
        border-radius:10px; 
        }
    .post
    {
        width:  100%;
        height: 530px;
        margin-left: -2px;
    }    
    .post .imgpost
    {
        margin: 1px;
        width: 340px;
    }
>>>>>>> 1d6f589052440d0f2fbcfa79f8bfe9e7bb254c91
}
