<ion-header>
  <ion-navbar>
    <ion-title>
      {{ user?.username}}'s Home
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <form #form="ngForm" (ngSubmit)="Addpost(form)">
    <ion-card class="post">  
        <ion-item>
          <ion-avatar item-start>
            <img [src]="user?.imgUrl">
          </ion-avatar>
          <h2>{{user?.username}}</h2>
        </ion-item>
      
        <img class="imgpost" *ngIf="imagePath!=''" [src]="imagePath">
      
        <ion-card-content>
          <textarea placeholder="What's on your mind?" ngModel name="text" required></textarea>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <button ion-button block outline color="danger"  type="button" icon-start [disabled]="!form.valid" (click)="Usecamera()">
              <ion-icon name='camera'></ion-icon>
              Use Camera
            </button>
          </ion-col>
          <ion-col>
              <button ion-button block outline color="danger" type="button" icon-start [disabled]="!form.valid" (click)="UploadImage()">
                <ion-icon name='image'></ion-icon>
                Upload Image
              </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
             <button ion-button type="submit" outline block color="danger" [disabled]="!form.valid">
              Post
             </button>
          </ion-col>
        </ion-row>
      </ion-card>
     
 </form> 
 <ion-list-header>
   Posts
 </ion-list-header>
  <div *ngFor="let followuser of FollowingUsers">
  <ion-card *ngFor="let post of followuser.myPosts">  
    <ion-item>
      <ion-avatar item-start>
        <img src="{{followuser.imgUrl}}">
      </ion-avatar>
      <h2>{{followuser.username}}</h2>
      <p>{{post.date}}</p>
    </ion-item>
    <img src="../../assets/imgs/43101510_1856077347812593_1432479448434737152_n.jpg">
  
    <ion-card-content>
      <p>{{post.text}}</p>
    </ion-card-content>
    <ion-row>
     <div *ngIf="post.Like?.length == 0; then like else check "> </div> 
       <ng-template #check>  
        <ion-col *ngIf="checkuser(user.key , post.Like) ; else dislike">
            <button ion-button clear small color="danger"  icon-start (click)="Like(post,followuser)" >
              <ion-icon name='thumbs-up-outline'></ion-icon>
               {{post.Like?.length }}
            </button>
          </ion-col>
        <ng-template #dislike> 
          <ion-col>
               <button ion-button clear small color="danger"  icon-start (click)="disLike(post,followuser)">
                  <ion-icon name='thumbs-up' ></ion-icon>
                    {{post.Like?.length}}
               </button>    
          </ion-col>  
        </ng-template> 
      </ng-template>  
      <ng-template #like>
          <ion-col>
              <button ion-button clear small color="danger"  icon-start (click)="Like(post,followuser)">
                 <ion-icon name='thumbs-up-outline' ></ion-icon>
                   {{post.Like?.length}}
              </button>    
         </ion-col>   
      </ng-template>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start (click)="share(post,followuser)">
          <ion-icon name='share-alt'></ion-icon>
           Share
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</div> 
</ion-content>
