
<ion-header>
    <ion-navbar>
      <ion-title>
        Search
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
      <form #f="ngForm" (ngSubmit)="search(f)">
        <ion-searchbar  [(ngModel)]="myInput" name="search" ></ion-searchbar>
      </form>
    <ion-list *ngIf="result">
      <ion-item *ngFor="let user of searchedList ; index as i">
        <ion-avatar item-start>
          <img src="{{user.imagUrl}}">
        </ion-avatar>
        <h2>{{user.email}}</h2>
          <button class="icon" ion-button item-end (click)="follow(i)"> <ion-icon item-end  md="md-contacts"></ion-icon> </button>
      </ion-item>
   </ion-list>
    
  </ion-content>